/* <!--------------------------media-query-mobile------------------------------> */
@media only screen and (max-width: 767px) {
    .mobile-section-hide{
        display: none;
    }
	.col-xs{
        max-width: 50%;
        float: left;
    }
    .single-footer-widget {
        margin-bottom: 30px;
    }
    .main-heading {
        font-size: 30px;
    }    
    .contact-info {
        margin-top: 20px;
    }
    .navbar-light .navbar-toggler {
        margin-top: 0px;
    }
    .social-links {
        text-align: center;
    }
    .tutor-image {
        margin-bottom: 28px;
    }
    .login-area{
        margin: 40px 0px 80px;
    }
    .bg-img-c{
        padding: 100px 0px 60px;
        background-color: #fff;
    }
    .navbar-custom {
        padding: 0.5rem 0.8rem;
    }
    .contentformob{
        padding: 80px 0px;
        text-align: center;
    }
    .contentformob h4{
        color: #030203;
        font-weight: 600;
        line-height: 35px;
        font-size: 25px;
    }
    .contentformob p{
        color: #030203;
        font-weight: 400;
        line-height: 25px;
        font-size: 15px;
    }
    .btn-purples{
        background-color: #D99BFF;
        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
        width: 100%;
        border-radius: 4px;
        line-height: 30px;
        padding: 10px;
        margin-top: 1rem;
      }
    .margin-div{
        text-align: center;
    }
    .custom-margin-top {
        margin-top: 0px;
    }
    .custom-margin-top-two{
        margin-top: 0px;
    }
    .custom-margin-top-three{
        margin-top: 0px;
    }
    .testimonial {
        margin-bottom: 50px;
    }
    .custom-forgot {
        text-align: left;
        margin: 0px;
        padding: 0px;
    }
    .modal-custom-title {
        text-align: center;
    }
    .custom-margin-top-125 {
        margin-top: 0px;
    }
    .location {
        padding: 0px 0px 30px;
    }
    .saved-content a {
        line-height: 20px !important;
        font-size: 14px;
    }
    .sl-no-div h6 {
        margin-right: 5px;
    }
    .saved-action .cust-i a i {
        margin-right: 0px;
        font-size: 18px;
        line-height: 20px;
    }
    .d-md-none{
        display: none;
    }
    .btn-white-o {
        color: #0f7c90 !important;
    }
    .main-white {
        border-radius: 5px !important;
        margin: 0px 20px !important;
    }
    #booklist {
        top: 35%;
    }
    #ad-resourses {
        top: 48%;
    }
    .blue-bg {
    	padding: 20px 0px;
	}
    span.card-btn-toggle {
        position: absolute;
        right: 5px;
        bottom: 0;
        top: 0;
        margin: auto;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        justify-content: center;
        align-items: center;
    }
    #stickyBlockStartPoint {
    	margin-top: 1rem;
	}
    .btn-see {
        padding: 10px 12px !important;
    }
    .text-slides-custom {
        height: auto;
        margin: 10px -200px;
    }
    .navbar-light .navbar-nav .nav-link {
        margin: 10px 0px !important;
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
}
/* <!--------------------------media-query-desktop------------------------------> */

@media only screen and (min-width: 768px) {
    .desktop-section-hide{
        display: none !important;
    }
    .bg-img-c{
        padding: 100px 0px 60px;
        background-image: url(../images/background.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
    }
    .margin-div {
        margin-top: 20rem;
        transform: rotate(10deg);
    }
    .btn-div {
        margin-left: 16rem;
    }
    .navbar-custom{
        opacity: 0;
    }
    .navbar-custom:hover{
        opacity: 1;
    }
    .btn-purples{
        background-color: #D99BFF;
        color: #000;
        font-size: 12px;
        font-weight: 600;
        width: 100%;
        border-radius: 4px;
        line-height: 30px;
        padding: 10px;
    }
    .nav-link.ac {
        font-size: 12px !important;
        padding: 0px 0px!important;
        line-height: 2px !important;
    }
    .ac {
        border: 1px solid #000 !important;
        border-radius: 50% !important;
    }    
}
