*{margin: 0; 
    padding: 0;
}

a {
    text-decoration: none !important;
}
img {
    border: none;
}
ul{
    list-style: none;
}
body {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: #030204;
    text-decoration: none;
    box-sizing: border-box;
    background-color: #fff;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
p {
    font-size: 15px;
    color: #030203;
    font-weight: 400;
    line-height: 25px;
}
.border{
  border: 1px solid #ccc !important;
}
/* ==========================================================
          back2Top Styles
==========================================================*/
 #back2Top{
    width: 65px;
    height: 65px;
    line-height: 65px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 60px;
    right: 20px;
    border-radius: 50%;
    background-color: #2377f4;
    color: #fff;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    border-color: #d1d9e6;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
}
#back2Top:hover {
    background-color: #D99BFF;
}
#booklist{
  width: 65px;
  height: 70px;
  line-height: 65px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  position: fixed;
  top: 60px;
  right: 20px;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  border-color: #d1d9e6;
}
#ad-resourses{
  width: 55px;
  height: 65px;
  line-height: 65px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  position: fixed;
  top: 150px;
  right: 20px;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  border-color: #d1d9e6;
}
.bootstrap-select .dropdown-menu.show {
  z-index: 9999;
}
/* ==========================================================
          location
==========================================================*/
.location {
  padding: 15px 30px;
  margin-bottom: 20px;
  display: flex;
}
.location-icon i {
  width: 60px;
  height: 60px;
  background-color: #AC63D8;
  text-align: center;
  line-height: 60px;
  font-size: 28px;
  color: #fff;
  border-radius: 50%;
  margin-right: 20px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.location-address {
  display: flex;
  align-items: center;
}
.location-address p a {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
  line-height: 58px;
}
/***********************header-csss*************************/
.custom-brand img{
    height: 60px;
}
.navbar-custom{
    padding: 0rem 0rem;
    background-color: transparent;
}
.btn-online{
    background-color: #FF6911;
    color: #fff !important;
}
.shadow-softs{
    box-shadow: -1px -1px 5px 0px rgb(255 255 255) !important;
}
.logo-bg{
    background-color: #f4f4f4;
}
.text-secondary:focus, a.text-secondary:hover {
    color: #020304!important;
}
/*************free study****************/
.titles {
    text-align: center;
}
.main-heading h2 {
    color: #030204;
    font-size: 28px;
    font-weight: 500;
    line-height: 26px;
    padding: 20px 0px;
}
.custom-center{
    text-align: center;
}
.testimonial-bg {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
}
.testimonial-bg p {
    font-size: 13px;
    line-height: 25px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 0px;
}
.testi-name {
    margin: 15px 0px;
}
.testi-name span {
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
    text-transform: uppercase;
}
/* .height-one{
    min-height: 160px;
}
.height-two{
    min-height: 250px;
}
.height-three{
    min-height: 150px;
} */
.color-1{
    background-color: #C0ECF8;
}
.color-2{
    background-color: #E5CDFF;
}
.color-3{
    background-color: #E2E7EE;
}
.custom-margin-top {
    margin-top: -85px;
}
.custom-margin-top-two{
    margin-top: -150px;
}
.custom-margin-top-three{
    margin-top: -230px;
}
.custom-margin-top-125{
  margin-top: -125px;
}
.moretext {
    display: none;
  }
.cellphone {
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99;
  background: #F4F4F4;
  }
  .cellphone-ul {
    margin: 0;
    padding: 0;
  }
  .cellphone-ul li {
    float: left;
    width: 50%;
    overflow: hidden;
    background: #f4f4f4;
    padding: 8px 0;
    text-align: center;
  }
  .cellphone-ul li:last-child {
    background: #f4f4f4;
  }
  .cellphone-ul li a {
    display: inline-block;
    font-size: 40px;
    color: #000;
    line-height: 40px;
  }
  .cellphone-ul li a span {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: inline-block;
  }
  .cellphone-ul li a span img {
    width: 100%;
  }
  .btn-div {
    text-align: center;
  }
  .btns{
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    border-radius: 4px;
    line-height: 30px;
    padding: 10px;
    margin-top: 1rem;
  }
  .btn-view-details{
    color: #000;
    background-color: #D99BFF;
    border-color: #D99BFF;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
  }
  .btn-blue{
    background-color: #85B6FF;
  }
  .btn-purples-new{
    background-color: #D99BFF;
  }
  .sbsi7l-0{
    display: none !important;
  }
/*********************braedcrumbs***********/
.breadcrumbs {
    color: #fff;
    padding: 50px 0px;
    margin: 0px;
    border-radius: 0px !important;
    background-image: linear-gradient(60deg, rgba(0, 0, 0, 0.2) 2%, rgba(0, 0, 0, 0.2)), url(../images/page-title.png);
    background-position: bottom;
    margin: 0 auto;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
}
.breadcrumb-title-div{
    text-align: center;
    padding: 30px 0px;
}
.bread-left-side h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 0.5rem;
}
.breadcrumb-ul ul {
    display: inline-flex;
}
.breadcrumb-ul ul li a {
    color: #fff;
}
.margintops{
    margin-top: 3rem;
}
.marginbottoms{
    margin-bottom: 3rem;
}
.align-item-center{
    align-items: center;
}
.my-logo{
    padding: 30px 50px;
}
/*********contact us************/
.contact-us{
    padding: 3rem 0rem;
}
.contact-title {
    text-align: center;
}
.contact-us-form {
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  padding: 40px 30px;
  box-shadow: 10px 20px 7px #ffffff73, 2px 2px 5px rgb(94 104 121 / 29%);
}
.text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 35px;
    color: #000;
}

.field{
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 20px;
  }
  
  .field input, textarea{
    height: 100%;
    width: 100%;
    padding-left: 45px;
    font-size: 18px;
    line-height: 45px;
    outline: none;
    border: none;
    color: #595959;
    background: #dde1e7;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    background: #f1f1f1;
  }
  
  .field input:focus ~ label{
    box-shadow: inset 2px 2px 5px #babecc,
                inset -1px -1px 2px #ffffff73;
  }
   
  .field span{
    position: absolute;
    font-size: 18px;
    line-height: 50px;
    color: #85b6ff;
    padding-left: 20px;
  }
  
  .field label{
    position: absolute;
    top: 50%;
    left: 45px;
    pointer-events: none;
    color: #666666;
    transform: translateY(-50%);
  }
  
  .field input:focus ~ label{
    opacity: 0;
  }
  .field textarea:focus ~ label{
    opacity: 0;
  } 
  .submit-btn-cus {
    margin: 25px 0 0 0;
    width: 100%;
    height: 50px;
    color: #030203;
    font-size: 18px;
    font-weight: 600;
    background: #D99BFF;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #babecc, -5px -5px 10px #ffffff73;
}
  
  button:focus{
    color: #85B6FF;
    box-shadow: none;
  }
  .content .or{
    color: black;
    margin-top: 9px;
  }
   
  .icon-button{
    margin-top: 15px;
  }
  .icon-button span{
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 6px;
    padding-bottom: 6px;
     
   border-radius: 5px;
    line-height: 30px;
    
    background: #dde1e7;
    box-shadow: 2px 2px 5px #babecc,
                -5px -5px 10px #ffffff73;
  }
  .icon-button span.facebook{
    margin-right: 17px;
  
  }
  .icon-button span:hover{
    color: #3498db;
    box-shadow: inset 2px 2px 5px #babecc,
                inset -5px -5px 10px #ffffff73;
  }
  .contact-info {
    padding: 15px 30px;
    margin-bottom: 20px;
    display: flex;
}
  .contact-us .right-area .contact-info .left .icon {
    width: 70px;
    height: 70px;
    background-color: #D99BFF;
    text-align: center;
    line-height: 70px;
    font-size: 28px;
    color: #fff;
    border-radius: 50%;
    margin-right: 20px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.content a {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    line-height: 30px;
}
.contact-title h1{
    color: #030204;
    font-size: 30px;
    font-weight: 500;
    line-height: 26px;
    padding: 20px 0px;
}
/****************login***************/
.modal-content {
  border: none !important;
  box-shadow: none !important;
  outline: 0;
  background: #fff !important;
}
.modal-custom-title {
  width: 100%;
  margin: 0px;
  padding: 0px;
  color: #000;
  font-size: 21px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0px;
}
.modal-header {
  padding: 10px 20px 0px !important;
}
.modal-body {
  padding: 10px 8px !important;
}
.login-with-btn {
  margin: 10px 0px;
}
.custom-my-button {
  padding: 10px 16px;
  width: 100%;
  border-radius: 9px;
  letter-spacing: 1px;
  transition: all 0.5s ease;
  display: block;
  font-size: 17px;
  text-transform: capitalize;
  font-weight: bold;
}
.facebook-bg{
  background-color: #0573E7;
  border: 1px solid #0573E7;
  color: #fff;
}
.facebook-bg:hover{
  background-color: #0573E7;
  border: 1px solid #0573E7;
  color: #fff;
}
.google-bg{  
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
}
.margin-right-area {
  margin-right: 30px;
}
.or-text{
  font-size: 16px;
  font-weight: bold;
  color: #666666;
  line-height: 30px;
}
.login-btn {
  padding: 4px 10px;
  width: 100%;
  border-radius: 5px;
  background-color: #1DBF73;
  border: 1px solid #1DBF73;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  transition: all 0.5s ease;
  display: block;
  font-size: 17px;
  font-weight: 600;
}
.forgot-password-link {
  text-align: right;
  color: #0096ff;
  font-size: 15px;
  font-weight: 400;
}
.label{
  text-align: right;
  color: #000;
  font-size: 15px;
  font-weight: 400;
}
.log-in-modal-cus p{
  color: #000;
  font-size: 15px;
  font-weight: 400;
}
.custom-forgot {
  text-align: end;
}
.log-in-modal-cus{
  text-align: center;
}
.form-control {
  box-shadow: none !important;
  border-radius: 5px;
  height: 50px;
}
.total-border p {
  margin-bottom: 0px;
  color: #44476a;
}
.user-pic {
  text-align: center;
}
.user-pic img {
  border-radius: 50%;
}
.users-location {
  background: #F7F7F7;
  padding: 10px 20px;
}
.cust-i i {
  color: #2377F4;
  font-size: 24px;
  line-height: 30px;
}
.cust-div h6 {
  font-size: 15px;
  color: #000;
  font-weight: bold;
  margin-bottom: 2px;
}
.cust-div p{
  font-size: 12px;
  color: #44476a;
  font-weight: bold;
  margin-bottom: 2px;
}
/********************user dashboard**************************/
/************user dashboard*************/
.dashboard {
  position: relative;
  padding-top: 50px;
}

.dash-left-menu {
  background: transparent;
  border-radius: 0px;
  width: 100%;
  bottom: 0;
  height: auto;
  padding: 12px 30px 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.dash-left-menu ul {
  list-style: none;
  padding-left: 0px !important;
}

.dash-left-menu ul li {
  display: block;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.342);
}

.dash-left-menu ul li a {
    display: block;
    padding: 10px;
    font-weight: normal;
    line-height: 30px;
    position: relative;
    font-size: 14px;
    color: #000;
    transition: 0.4s ease-in-out;
    transition-duration: 0.3s;
    text-transform: uppercase;
}

.dash-left-menu ul li a:hover{
  display: block;
  padding: 10px;
  font-weight: normal;
  line-height: 30px;
  position: relative;
  font-size: 14px;
  color: #D99BFF;
  transition: 0.4s ease-in-out;
  transition-duration: 0.3s;
}

.dash-title {
  color: #D99BFF;
  font-size: 21px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 40px;
  background: #F5F5F5;
  padding: 20px;
  text-align: center;
}

/*******only dashboard******/
.account-info {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px 14px 16px;
}

.header-area {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 12px;
}

.header-area .title {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #143250;
}

.edit-info-area {
  margin-top: 15px;
}

.main-info .title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

.user-title {
  font-weight: 600;
}



.c-info-box-area {
  padding: 33px 30px 38px;
}
.c-info-box.box2 {
  border-color: #28a745;
}

.c-info-box {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-width: 20px;
  border-style: solid;
  text-align: center;
  border-radius: 50%;
}
.c-info-box p {
  font-size: 30px;
  font-weight: 600;
  line-height: 160px;
}
.c-info-box-content {
  text-align: center;
  margin-top: 20px;
}
.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 2px;
}
.text {
  font-size: 14px;
  margin-bottom: 0px;
}

.c-info-box-area {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .25rem;
  background: #fff;
}
ul.list li p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: 'Raleway', sans-serif;
}
@media only screen and (max-width: 767px) {
  .card.c-info-box-area {
      margin-top: 20px;
  }
  .dash-title{
      margin-top: 45px;
  }
  .pricing-bg{
      margin-top: 45px;
  }
}

/*my account*/

.user-dashbord .user-profile-details .account-info {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px 30px 30px;
}

.edit-info-area {
  margin-top: 15px;
}

.gocover {
  display: none;
  position: absolute;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.upload-img {
  padding: 18px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.imagess {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  margin-right: 30px;
  overflow: hidden;
}
.file-upload-area {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.upload-file {
  width: 150px !important;
  height: 40px;
  cursor: pointer;
  position: relative;
}
.upload-file .upload {
  width: 150px !important;
  height: 40px;
  display: inline-block;
  opacity: 0;
  cursor: pointer;
}
.upload-file span {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px !important;
  height: 40px;
  background: #8EC63F;
  z-index: -1;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-weight: 600;
}

.imagess img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.user-dashbord .user-profile-details .account-info .edit-info-area .edit-info-area-form .input-field {
  margin-bottom: 20px;
  background: none;
  border-radius: 0px;
  border: 0px!important;
  padding: 0px 0px!important;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)!important;

}

.upload-images {
  text-align: center;
  margin-bottom: 30px;
}
.upload-images img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.input-field {
  width: 100%;
  height: 50px;
  padding: 0px 1px;
  border-radius: 0px;
  background: transparent;
  color: #333333;
  margin-bottom: 15px;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border: 1px solid #CCCCCC;
  outline: none;
}

button.submit-btn {
  width: 120px;
  height: 50px;
  background: #D99BFF;
  color: #000;
  font-size: 14px;
  line-height: 50px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  border: 0px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.form-links {
  text-align: center;
}
.radio-icon {
  font-size: 25px;
  line-height: 30px;
}
.table-bordered td{
  line-height: 18px;
  font-weight: 500;
}
.table-bordered th {
  line-height: 18px;
}
.text-whatsapp {
  color: #4DC247;
  font-weight: 600;
}
.tutor-logo {
  margin: 30px 0px;
}
.text-youtube {
  color: #FF0000;
}
.total-border {
  display: block;
  width: 100%;
  height: 45px;
  padding: 0.6rem 0.75rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  background-color: #e6e7ee;
  background-clip: padding-box;
  border: 0.0625rem solid #d1d9e6;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}
.small-submit-btn {
  background: #D99BFF;
  color: #000;
  font-size: 12px;
  line-height: 38px;
  padding: 0px 18px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}
.cotent-views {
  display: flex;
  margin: 15px 0px;
  justify-content: space-between;
}
.sl-no-div h6 {
  width: 30px;
  height: 30px;
  background-color: #AC63D8;
  text-align: center;
  line-height: 34px;
  font-size: 15px;
  color: #fff;
  border-radius: 50%;
  margin-right: 22px;
}
.saved-content p {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 600;
}
hr {
  margin-top: 0.2rem !important;
  margin-bottom: 0.2rem !important;
}
.saved-action .cust-i a i {
  margin-right: 10px;
}
.view-area {
  border: 1px solid #ccc;
  margin: 15px 0px 10px;
  border-radius: 5px;
}
.study-content h4 {
  margin: 10px 0px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 600;
  color: #143250;
}
.book-shows {
  margin: 0px;
  padding: 0px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  width: 100%;
}
.blues {
  border: 2px solid #2377F4;
  background-color: #2377F4;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  width: 100%;
  padding: 13px 13px;
  transition: all ease 0.2s;
}
.blues:hover{
  color: #fff;
}
.infos {
  color: #000;
}
.pro-video {
  background: gainsboro;
  padding: 50px;
}
.locks {
  position: absolute;
  z-index: 9;
  margin-top: 4px;
  right: 40px;
  font-size: 38px;
}
.image-slider {
  display: block;
  width: 100%;
  height: auto;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #2377F4 !important;
}
.image-slider .owl-item {
  margin: 5px;
}
.text-slides-custom {
  width: 100%;
  height: 150px;
  background: #f4f4f4;
  padding: 20px;
  margin: 30px -200px;
  border-radius: 30px;
}
.past-paper-main{
  margin-bottom: 5rem;
}
input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #ccc;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #FA8F09;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #fdc47d;
}
.enroll-label {
  font-size: 18px;
  line-height: 10px;
  font-weight: 600;
  margin-left: 10px;
  color: #000;
}
.navbar-theme-primary .navbar-nav .dropdown-item.active, .navbar-theme-primary .navbar-nav .dropdown-item:focus, .navbar-theme-primary .navbar-nav .dropdown-item:hover, .navbar-theme-primary .navbar-nav .list-group-item.active, .navbar-theme-primary .navbar-nav .list-group-item:focus, .navbar-theme-primary .navbar-nav .list-group-item:hover {
  color: #31344b;
  background: transparent !important;
  box-shadow: none !important;
}
.dropdown .dropdown-item {
  color: #fff !important;
}
.dropdown .dropdown-item:hover {
  color: #C8C8C8!important;
}
.navbar-light .navbar-nav .nav-link {
  color: #000 !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  background: white;
}
.dropdown-menu{
  background-color: #7E8CC7 !important;
  border: 0.0625rem solid #7E8CC7 !important;
}
.free-btn {
  background: #85B6FF !important;
  border-radius: 5px !important;
}
.enroll-btn{
  background: #D99BFF !important;
  border-radius: 5px !important;
}
.contact-btn{
  background: #FFD233 !important;
  border-radius: 5px !important;
}
.about{
  background-color: #5F86CD !important;
  border-radius: 5px !important;
}
.btn.btn-link {
  border-radius: 0px;
  border: none;
}
.custom-card{
  background-color: #CDFFF6 !important;
  border-radius: 30px !important;
}
.cust-card-area {
  background: transparent !important;
  outline: none;
  box-shadow: none;
}
.acco-title .btn-link{
  color: #0096ff;
  text-decoration: underline;
  font-size: 22px;
}
.custom-card p {
  color: blue;
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 600;
}
.custom-card ul li{
  color: blue;
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: 600;
  text-decoration: underline;
}
.card-header:first-child {
  padding: 0px;
}
.acco-title i {
  background: orange;
  padding: 6px 8px;
  font-size: 14px;
  color: #fff;
  line-height: 15px;
  border-radius: 50px;
}
/*tabs**/
button,
.button {
  position: relative;
  color: black;
  padding: 0.75rem 2rem;
  background-color: #BDE3FF;
  border: none;
  font-weight: bold;
  border-radius: 50px;
  font-size: 1.2rem;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
button:hover,
.button:hover {
  background-color: #BDE3FF;
}
button:hover:before, button:hover:after,
.button:hover:before,
.button:hover:after {
  color: #4cc4cf;
}
button:after, button:before,
.button:after,
.button:before {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* ---------------------- Vertical Tabs */
.tabs {
  position: relative;
  min-height: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  /* ---------------------- Tab */
  /* ---------------------- Content */
}
.tabs .tab {
  margin-bottom: 1px;
  /* ---------------------- Tab Toggle */
}
@media screen and (min-width: 55rem) {
  .tabs .tab {
    float: left;
    clear: left;
    width: 30%;
  }
}
.tabs .tab .tab-toggle {
  padding: 1rem 4rem 1rem 2rem;
  position: relative;
  outline: none;
  width: 100%;
}
@media screen and (min-width: 55rem) {
  .tabs .tab .tab-toggle {
    text-align: left;
  }
}
.tabs .tab .tab-toggle:after {
  content: "▼";
  position: absolute;
  display: block;
  right: 2rem;
  top: 50%;
  -webkit-transform: rotate(0deg) translateY(-50%);
  -moz-transform: rotate(0deg) translateY(-50%);
  -ms-transform: rotate(0deg) translateY(-50%);
  -o-transform: rotate(0deg) translateY(-50%);
  transform: rotate(0deg) translateY(-50%);
}
@media screen and (min-width: 55rem) {
  .tabs .tab .tab-toggle:after {
    -webkit-transform: rotate(-90deg) translateX(50%);
    -moz-transform: rotate(-90deg) translateX(50%);
    -ms-transform: rotate(-90deg) translateX(50%);
    -o-transform: rotate(-90deg) translateX(50%);
    transform: rotate(-90deg) translateX(50%);
  }
}
.tabs .tab .tab-toggle.active {
  color: #8099c2;
  background-color: white;
  cursor: default;
}
.tabs .tab .tab-toggle.active:after {
  color: #8099c2;
  -webkit-transform: rotate(180deg) translateY(50%);
  -moz-transform: rotate(180deg) translateY(50%);
  -ms-transform: rotate(180deg) translateY(50%);
  -o-transform: rotate(180deg) translateY(50%);
  transform: rotate(180deg) translateY(50%);
}
@media screen and (min-width: 55rem) {
  .tabs .tab .tab-toggle.active:after {
    -webkit-transform: rotate(-90deg) translateX(50%) translateY(0);
    -moz-transform: rotate(-90deg) translateX(50%) translateY(0);
    -ms-transform: rotate(-90deg) translateX(50%) translateY(0);
    -o-transform: rotate(-90deg) translateX(50%) translateY(0);
    transform: rotate(-90deg) translateX(50%) translateY(0);
    right: 1rem;
  }
}
.tabs .content {
  max-height: 0;
  overflow: hidden;
  padding: 0 2rem;
  background-color: #BDE3FF;
  margin: 20px 0px;
  border-radius: 20px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
@media screen and (min-width: 55rem) {
  .tabs .content {
    max-height: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    opacity: 0;
    padding: 0rem 2rem 2rem 2rem;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}
.tabs .content.active {
  max-height: 1000px;
}
@media screen and (min-width: 55rem) {
  .tabs .content.active {
    max-height: none;
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
.tabs .content > .heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}