/* <!--------------------------media-query-mobile------------------------------> */

@media only screen and (max-width: 767px) {
    .mobile-section-hide{
        display: none;
    }
	.col-xs{
        max-width: 50%;
        float: left;
    }
    .single-footer-widget {
        margin-bottom: 30px;
    }
    .main-heading {
        font-size: 30px;
    }    
    .contact-info {
        margin-top: 20px;
    }
    .breadcrumbs {
        margin-top: 4rem;
    }
    .navbar-light .navbar-toggler {
        margin-top: 0px;
    }
    .social-links {
        text-align: center;
    }
    .tutor-image {
        margin-bottom: 28px;
    }
}
/* <!--------------------------media-query-desktop------------------------------> */

@media only screen and (min-width: 768px) {
    .desktop-section-hide{
        display: none;
    }
}
