*{margin: 0; 
    padding: 0;
}

a{
    text-decoration: none !important;
}
img{
    border: none;
}
body {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: #030204;
    line-height: 35px;
    text-decoration: none;
    box-sizing: border-box;
    background-color: #fff;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
p {
    font-size: 15px;
    color: #030203;
    font-weight: 400;
    line-height: 30px;
}
/* ==========================================================
          back2Top Styles
==========================================================*/
 #back2Top{
    width: 65px;
    height: 65px;
    line-height: 65px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 60px;
    right: 20px;
    border-radius: 50%;
    /* background-image: linear-gradient(to bottom right, #D99BFF, #85B6FF); */
    background-color: #2377f4;
    color: #fff;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    border-color: #d1d9e6;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
}
#back2Top:hover {
    /* background-image: linear-gradient(to bottom right, #85B6FF, #D99BFF  ); */
    background-color: #D99BFF;
}
/***********************header-csss*************************/
.custom-brand img{
    height: 40px;
}
.navbar-custom{
    padding: 0.5rem 0.5rem;
    /* background-image: linear-gradient(to bottom right, #D99BFF, #85B6FF); */
    background-color: #D99BFF;
}
.headroom--not-top.navbar-theme-primary {
    /* background-image: linear-gradient(to bottom right, #D99BFF, #85B6FF) !important; */
    background-color: #D99BFF;
}
.carousel-control-prev-icon::before{
    color: #85B6FF !important;
}
.carousel-control-next-icon:before{
    color: #85B6FF !important;
}
.navbar-transparent .navbar-brand {
    background: #85B6FF;
}
.btn-online{
    /* background-image: linear-gradient(to bottom right, #D99BFF, #85B6FF); */
    background-color: #85B6FF;
    color: #020304 !important;
}
.my-carousel{
    margin-top: 4rem;
}
.navbar-light .navbar-nav .nav-link {
    color: #020304 !important;
}
.shadow-softs{
    box-shadow: -1px -1px 5px 0px rgb(255 255 255) !important;
}
a.text-secondary:focus, a.text-secondary:hover {
    color: #020304!important;
}
/*************free study****************/
.titles {
    text-align: center;
}
.main-heading{
    color: #030204;
    font-size: 35px;
    font-weight: bold;
    line-height: 30px;
}
.free-study{
    padding: 2rem 0rem;
}
.paid-study{
    padding: 2rem 0rem;
}
/***********footer****************/
.main-footer {
    /* background-image: linear-gradient(to bottom right, #D99BFF, #85B6FF); */
    background-color: #D99BFF;
    padding: 50px 0px 10px;
}
.footer-content p {
    font-size: 15px;
    line-height: 27px;
    font-weight: 600;
    color: #020304d1;
    text-align: left;
    padding: 10px 0px;
}
.footer-title {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-title h3 {
    color: #020304;
    font-size: 23px;
    line-height: 30px;
    font-weight: 900;
    text-transform: capitalize;
}
.copy-content p {
    color: #020304;
    text-align: center;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 600;
}
.footer-ul .list-unstyled li a {
    color: #020304d1;
    font-size: 14px;
    line-height: 35px;
    font-weight: 500;
}
.footer-contact-info {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}
.footer-contact-info .icon {
    position: relative;
    display: block;
    color: #2377f4;
    font-size: 19px;
    line-height: 50px;
    text-align: center;
    background-color: #e6e7ee!important;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.support-box {
    position: relative;
    display: block;
    padding-left: 15px;
}
.support-box h5 a {
    color: #020304d1;
    font-size: 15px;
    line-height: 21px;
    font-weight: 600;
    margin-bottom: 3px;
}
/*************breadcrumbs*******************/
.breadcrumbs{
    background-color: #D99BFF;
    padding: 30px 0px 30px;
    margin-top: 4rem;
}
.breadcrumbs-content{
    text-align: center;
}
.breadcrumbs-content h1 {
    color: #ffffff;
    font-size: 45px;
    line-height: 50px;
    font-weight: 900;
    text-transform: capitalize;
}
.breadcrumbs-content ul li {
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}
.breadcrumbs-content ul li a {
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}
/*********contact us************/
.contact-us{
    padding: 3rem 0rem;
}
.contact-title {
    text-align: center;
}
.contact-us-form {
    width: 100%;
    background: #dde1e7;
    background-image: linear-gradient(#2377F4, #85B6FF);
    border-radius: 10px;
    padding: 40px 30px;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgb(94 104 121 / 29%);
}
.text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 35px;
    color: #000;
}

.field{
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 20px;
  }
  
  .field input, textarea{
    height: 100%;
    width: 100%;
    padding-left: 45px;
    font-size: 18px;
    outline: none;
    border: none;
    color: #595959;
    background: #dde1e7;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px #babecc,
                inset -5px -5px 10px #ffffff73;
  }
  
  .field input:focus ~ label{
    box-shadow: inset 2px 2px 5px #babecc,
                inset -1px -1px 2px #ffffff73;
  }
   
  .field span{
    position: absolute;
    font-size: 18px;
    line-height: 50px;
    color: #85b6ff;
    padding-left: 20px;
  }
  
  .field label{
    position: absolute;
    top: 50%;
    left: 45px;
    pointer-events: none;
    color: #666666;
    transform: translateY(-50%);
  }
  
  .field input:focus ~ label{
    opacity: 0;
  }
  .field textarea:focus ~ label{
    opacity: 0;
  } 
  button {
    margin: 25px 0 0 0;
    width: 100%;
    height: 50px;
    color: #030203;
    font-size: 18px;
    font-weight: 600;
    background: #D99BFF;
    border: none;
    outline: none;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #babecc, -5px -5px 10px #ffffff73;
}
  
  button:focus{
    color: #85B6FF;
    box-shadow: inset 2px 2px 5px #babecc,
                inset -5px -5px 10px #ffffff73;
  }
  .content .or{
    color: black;
    margin-top: 9px;
  }
   
  .icon-button{
    margin-top: 15px;
  }
  .icon-button span{
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 6px;
    padding-bottom: 6px;
     
   border-radius: 5px;
    line-height: 30px;
    
    background: #dde1e7;
    box-shadow: 2px 2px 5px #babecc,
                -5px -5px 10px #ffffff73;
  }
  .icon-button span.facebook{
    margin-right: 17px;
  
  }
  .icon-button span:hover{
    color: #3498db;
    box-shadow: inset 2px 2px 5px #babecc,
                inset -5px -5px 10px #ffffff73;
  }
  .contact-info {
    padding: 15px 30px;
    margin-bottom: 20px;
    display: flex;
 }
.contact-us .right-area .contact-info .left .icon {
    width: 70px;
    height: 70px;
    background-image: linear-gradient(#2377F4, #85B6FF);
    text-align: center;
    line-height: 70px;
    font-size: 28px;
    color: #fff;
    border-radius: 50%;
    margin-right: 20px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.content a {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    line-height: 30px;
}
.find {
    font-size: 18px;
    color: #030203;
    font-weight: 900;
    line-height: 35px;
}
.aboutthetutor{
    padding: 3rem 0rem;
}
.tutor-content p {
    text-align: justify;
    margin: 20px 0px;
    line-height: 28px;
    font-size: 14px;
    color: #666;
    font-weight: 400;
}
.tutor-image{
    text-align: center;
}
.about-btn {
    border-radius: 50px;
    background: #D99BFF;
    color: #030203;
}
.about-btn {
    border-radius: 50px;
    background: #D99BFF;
    color: #030203;
    border: 1px solid #D99BFF;
    font-size: 15px;
    font-weight: 600;
}
.about-btn:hover {
    background: #85B6FF;
    color: #030203;
    border: 1px solid #85B6FF;
}
.testimonials-box {
    background-image: linear-gradient(#2377F4, #85B6FF);
    padding: 0px 20px 20px 20px;
    margin-top: 5rem;
    min-height: 350px;
}
.testimonial-img img {
    width: 150px;
    border: 2px solid #ffffff!important;
    margin-top: -60px;
    border-color: #ffffff !important;
    background: #D99BFF;
    padding: 15px;
}
.testimonial-content h2 {
    color: #020304;
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
    margin: 15px 0px 5px;
}
.testimonial-content h6 {
    color: #020304d6;
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 6px;
}
blockquote {
    color: #020304;
    line-height: 25px;
    font-size: 15px;
    font-weight: 300;
}